doctype html
html(lang="en")
	head
		title random images
		style.
			body {
				text-align: center;
			}

			img {
				margin: 8px;
				width: 100px;
				height: 100px;
			}
	body
		each val, index in images
			a(href=val, target="_blank")
				img(src=val)
			if (index + 1) % 8 === 0
				br