Hello, you or someone else requested a link to reset your password.
<br><br>
To change your password, you need to follow the <a href="<%= resetPasswordLink %>">links</a>.
<br><br>
If the request to change the password was not made by you, then ignore this message.
